pkgbase = roc-smi-git
	pkgdesc = ROC System Management Interface
	pkgver = 1.5.0.r0.g0470494
	pkgrel = 1
	arch = x86_64
	license = MIT
	makedepends = git
	depends = python
	source = git+https://github.com/RadeonOpenCompute/ROC-smi.git
	sha256sums = SKIP

pkgname = roc-smi-git

